@inherits LayoutComponentBase

<NavMenu />

<div class="container">
    @Body

    <footer class="footer">
        <hr />
        <p>Powered by Blazor hosted on Azure &copy; @DateTime.Now.Year </p>
    </footer>
</div>
