<header class="navheader">
    <!--<a href="/" class="logo">utdann.ME</a>-->
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li role="presentation"
            ><a href="/">Home</a></li>
        <li role="presentation"
            ><a href="/Base64">Base64</a></li>
        <li role="presentation"
            ><a href="/Html">Html</a></li>
        <li role="presentation"
            ><a href="/Url">Url</a></li>
        <li role="presentation"
            ><a href="/About">About</a></li>
    </ul>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
