@page
@using Convert.Express.Pages;
@model AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["active-link"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>An easy and simple conversion site created using ASP.NET CORE Razor pages. </p>
<p>More information coming soon.</p>
