@page "/base64"
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <span class="divider">/</span>
    <a class="section" href="#">base 64</a>
</div>

<h1 class="">Base 64 encode and decode</h1>

<ConvertForm Type="Base64"></ConvertForm>


@code {

}
