@page "/"


<h3>Please use one of many conversion option on this page!</h3>

<div class="row mt-4">
    <div class="list-group">
        <a href="/base64" class="list-group-item list-group-item-action">
            Base64 conversion
        </a>
        <a href="/html" class="list-group-item list-group-item-action">HTML</a>
        <a href="/url" class="list-group-item list-group-item-action">URL</a>
    </div>
</div>